
<AuthorizeView>
    <Authorized>
        <LanguageDisplay></LanguageDisplay>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link btn btn-secondary btn-sm text-light d-flex align-items-center" href="manage">
                    <span class="oi oi-person mr-2" title="user configuration" aria-hidden="true"></span>
                    @context.User.Identity.Name
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-link" href="logout">
                    <span class="oi oi-account-logout" title="logout" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
        <form class="form-inline">
            <a class="btn btn-outline-success btn-sm">Register</a>
        </form>
    </Authorized>
    <NotAuthorized>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="login">
                    Login
                    <span class="oi oi-account-login ml-2" title="login" aria-hidden="true"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-outline-secondary btn-sm" href="register">
                    Register
                </a>
            </li>
        </ul>
        <form class="form-inline">
            <button class="btn btn-outline-success btn-sm">Register</button>
        </form>
    </NotAuthorized>
</AuthorizeView>
