<button type="@Type.ToString().ToLower()" @onclick="ButtonClicked"
        class="
        px-4 py-2 font-semibold rounded-lg text-white
        border-2 hover:text-white hover:shadow
        flex justify-center items-center uppercase
        @(AdditionalStyles)
        @(Style)
        @(Enabled ? "" : "hidden")">
    @ChildContent
</button>
@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public string Style { get; set; } = Styles.ButtonOutlined;

    [Parameter]
    public bool Enabled { get; set; } = true;

    [Parameter]
    public ButtonType Type { get; set; } = ButtonType.Button;

    [Parameter]
    public string AdditionalStyles { get; set; } = "";

    private async Task ButtonClicked()
    {
        await OnClick.InvokeAsync(null);
    }
}