@page "/subcategories"

@inject NavigationManager navigationManager
@inject SubcategoryRepository repository

<div class="container">
    <h1 class="display-4 text-dark text-center mb-4">Subcategories</h1>
    <nav class="navbar navbar-light bg-light p-2 mb-3">

        <button class="btn btn-secondary btn-sm" @onclick="AddCategory">
            <span class="oi oi-plus mr-2 small" title="add new team" aria-hidden="true"></span>
            Add subcategory
        </button>

        <div class="form-inline">
            <div class="input-group">
                <input class="form-control form-control-sm"
                       @bind-value="text"
                       type="search"
                       placeholder="Search"
                       aria-label="Search"
                       aria-describedby="searchButton">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-sm"
                            type="submit"
                            id="searchButton"
                            @onclick="Search">
                        <span class="oi oi-magnifying-glass" title="search subcategories" aria-hidden="true"></span>
                    </button>
                </div>
            </div>

        </div>
    </nav>

    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subcategory in subcategories)
            {
                <tr>
                    <td>

                    </td>
                    <td>
                        @subcategory.Name
                    </td>

                    <td>
                        @subcategory.Category.ToString()
                    </td>
                    <td>
                        <button class="btn btn-secondary"
                                @onclick="() => AddConceptsToSubcategory(subcategory.Id)">
                            <span class="oi oi-plus" title="add concepts to this subcategory" aria-hidden="true"></span>
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger">
                            <span class="oi oi-trash small" title="delete category" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private string text = "";

    private IEnumerable<Subcategory> allSubcategories;
    private IEnumerable<Subcategory> subcategories;

    protected override async Task OnInitializedAsync()
    {
        var allSubcategories = await repository.GetAll();
        subcategories = allSubcategories;
    }

    private void Search()
    {
        subcategories = allSubcategories.Search(text);
    }

    private void AddCategory()
    {
        navigationManager.NavigateTo($"categories/create");
    }

    private void ShowConceptsInSubcategory(Guid idSubcategory)
    {
        navigationManager.NavigateTo($"createconcepts/{idSubcategory}");
    }

    private void AddConceptsToSubcategory(Guid idSubcategory)
    {
        navigationManager.NavigateTo($"createconcepts/{idSubcategory}");
    }
}
