@inject CategoryRepository repository

<select class="@($"form-control {ComboClass}")" @onchange=CategoryChanged>
    @foreach (CategoryValue category in Enum.GetValues(typeof(CategoryValue)))
    {
        <option value="@((int)category)">@category.Description()</option>
    }
</select>

@code {

    [Parameter]
    public string ComboClass { get; set; }

    private async Task CategoryChanged(ChangeEventArgs e)
    {
        await OnCategoryChanged.InvokeAsync((CategoryValue)e.Value);
    }

    [Parameter]
    public EventCallback<CategoryValue> OnCategoryChanged { get; set; }

}
