@page "/concepts/{category:int}"

@inject NavigationManager navigationManager
@inject ConceptsQuery conceptsQuery
@inject ConceptEditorService conceptEditorService

<div class="container">
    <h1 class="display-4 text-dark text-center mb-4">Concepts in x subcategory</h1>
    <nav class="navbar navbar-light bg-light p-2 mb-3">

        <div class="d-flex">
            <button class="btn btn-secondary btn-sm mr-2">
                <span class="oi oi-plus mr-2 small" title="add concepts" aria-hidden="true"></span>
                Add concepts
            </button>

            <button class="btn btn-primary btn-sm">
                <span class="oi oi-cloud-upload mr-1" title="upload concepts file" aria-hidden="true"></span>
                Upload
            </button>

        </div>

        <div class="form-inline">
            <button class="btn btn-success btn-sm mr-2">
                <span class="oi oi-check mr-2" title="delete category" aria-hidden="true"></span>
                Save changes
            </button>
            @if (concepts.HasChanges())
            {
                <button class="btn btn-success btn-sm mr-2" @onclick="SaveChanges">>
                    <span class="oi oi-check mr-2" title="delete category" aria-hidden="true"></span>
                    Save changes
                </button>
            }
            <Celebrity.Blazor.Pages.Categories.CategoryCombo Category="Category" ComboClass="form-control-sm mr-2" OnCategoryChanged="async() => await Load()">
            </Celebrity.Blazor.Pages.Categories.CategoryCombo>
            <div class="input-group">
                <input class="form-control form-control-sm"
                       @bind="concepts.SearchText"
                       type="search"
                       placeholder="Search"
                       aria-label="Search"
                       aria-describedby="searchButton">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-sm" type="submit" id="searchButton"  @onclick="() => concepts.Search()">
                        <span class="oi oi-magnifying-glass" title="icon name" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </nav>

    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Concepto</th>
                <th scope="col" class="text-center">Dificultad</th>
                <th scope="col">Tipo</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var concept in concepts.Concepts)
            {
                <tr>
                    <td>
                        <input type="text"
                               class="form-control form-control-sm"
                               placeholder="Nombre del concepto"
                               @bind="concept.Name">
                    </td>
                    <td class="text-center">
                        <DificultySelector Difficulty="concept.Stars"></DificultySelector>
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-sm btn-info">
                                <span class="oi oi-bolt" title="easy" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-sm btn-info">
                                <span class="oi oi-bolt" title="intermediate" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-sm btn-info text-info">
                                <span class="oi oi-bolt" title="hard" aria-hidden="true"></span>
                            </button>
                        </div>

                    </td>
                    <td>
                        <select class="form-control form-control-sm">
                            <option value="1">One</option>
                            <option value="2" selected>Two</option>
                            <option value="3">Three</option>
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-danger">
                            <span class="oi oi-trash" title="delete category" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {

    [Parameter]
    public CategoryValue Category { get; set; }

    private ConceptsViewModel concepts;

    protected override async Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        var list = await conceptsQuery.GetFromCategory(Category);
        concepts = new ConceptsViewModel(list);
    }

    private void AddConcepts()
    {
        navigationManager.NavigateTo($"createconcept/{navigationManager.Uri}");
    }

    private async Task SaveChanges()
    {
        await conceptEditorService.Edit(concepts.GetModified());
        StateHasChanged();
        navigationManager.NavigateTo(navigationManager.Uri);
    }
}
