<div class="d-flex justify-content-start align-items-center">
    <h3>Teams</h3>
    <button class="btn btn-light btn-sm ml-3"  @onclick="() => createTeamModal = true">
        <span class="oi oi-plus mr-2 small" title="add new team" aria-hidden="true"></span>
        add team
    </button>

  <Create Show="createTeamModal" OnTeamAdded="TeamCreated" ></Create>
</div>

<hr class="mt-0 mb-2" />

<div class="card-columns">

    @foreach (var team in Teams)
    {
        <TeamCard Team="team"></TeamCard>
    }
</div>

@code {
    private bool createTeamModal = false;

    [Parameter]
    public List<CreateTeam> Teams { get; set; } 

    void TeamCreated(CreateTeam team)
    {
        Teams.Add(team);
    }
}
